@import '../mini_preexisting.css';
.tufts_header_wrapper {
  background-color: #2a5c89;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #fff;
}
.tufts_header_wrapper #tufts_header {
  padding: 1em 2em 0.5em 2em;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.tufts_header_wrapper #tufts_header svg {
  width: 8em;
  margin-bottom: -0.3em;
}
.tufts_header_wrapper #tufts_header .lib-title {
  font-size: 2em;
  box-shadow: -3px -1px 0 -2px rgba(255, 255, 255, 0.6980392157);
  margin: 0.3125rem 0.9375rem 0.3125rem 0.625rem;
  padding-left: 1rem;
}
.tufts_header_wrapper #tufts_header #tufts_links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tufts_header_wrapper #tufts_header #tufts_links ul li {
  margin-right: 1em;
  font-size: 1.5em;
}
.tufts_header_wrapper #tufts_header #tufts_links ul li a {
  color: white;
  text-decoration: none;
}
.tufts_header_wrapper #tufts_header #tufts_links ul li a:hover {
  text-decoration: underline;
}

.rg-header-wrap {
  background-color: #3172AE;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
}
.rg-header-wrap .rg-header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
}

#az-search-col-1 #s-lg-sel-az-types, #az-search-col-1 #s-lg-sel-az-vendors {
  display: none !important;
}

#s-lg-az-cols #s-lg-az-popular-div, #s-lg-az-cols #s-lg-az-trials-div {
  display: none !important;
}

ul.list-group.s-lg-boxnav li.list-group-item a {
  color: black !important;
  text-shadow: none !important;
}

#s-lg-tabs-container .nav-tabs > li > a:hover, #s-lg-tabs-container .nav-pills > li > a:hover {
  color: white !important;
}

.primo input[type=text] {
  width: 99%;
  height: 2em;
  z-index: -1;
}

.multi input[type=text] {
  width: 80%;
}

.offscreen {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.primo fieldset {
  position: relative;
}

.primo input[type=button] {
  position: absolute;
  right: 0;
  height: 2em;
  z-index: 5;
  color: white;
  background-color: #3172AE;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  border-radius: 0;
}

.wc input[type=button] {
  bottom: 0;
}

.nav-tabs > li > a[href="#s-lg-sb-databases"], .nav-tabs > li > a[href="#s-lg-sb-blog-posts"] {
  display: none;
}

.s-lg-box-wrapper-29071722 a.btn.btn-default, .s-lg-box-wrapper-29071722 a.btn.btn-success {
  border: 2px solid #293e6b;
}

.s-lg-box-wrapper-29071722 a.btn.btn-default:hover, .s-lg-box-wrapper-29071722 a.btn.btn-success:hover {
  background-color: #293e6b !important;
}

.s-lg-box-wrapper-29071722 a.btn.btn-default:focus, .s-lg-box-wrapper-29071722 a.btn.btn-success:focus {
  background-color: #293e6b !important;
}

.vhide {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.rg-home {
  display: block;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0 0 1px #000;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
