/*
Error: Undefined variable: "$tisch-heading-orange".
        on line 208 of /Users/katebronstad/Documents/also_web/tufts_spring/s_style/sass/styles.scss

203:    margin-top: 0.25em
204:  }
205: 
206:  //social media buttons
207: .fa-flickr, .fa-twitter, .fa-facebook{
208:  color: $tisch-heading-orange;
209: }
210: //Put spacing underneath "strong" "headings" in contact box
211: .s-lib-profile-div{
212:   div{
213:     padding-top: 1em;

Backtrace:
/Users/katebronstad/Documents/also_web/tufts_spring/s_style/sass/styles.scss:208
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:79:in `with_base'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:115:in `with_frame'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/stack.rb:79:in `with_base'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/engine.rb:268:in `render'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/katebronstad/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.4/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$tisch-heading-orange\".\A         on line 208 of /Users/katebronstad/Documents/also_web/tufts_spring/s_style/sass/styles.scss\A \A 203:    margin-top: 0.25em\A 204:  }\A 205: \A 206:  //social media buttons\A 207: .fa-flickr, .fa-twitter, .fa-facebook{\A 208:  color: $tisch-heading-orange;\A 209: }\A 210: //Put spacing underneath \"strong\" \"headings\" in contact box\A 211: .s-lib-profile-div{\A 212:   div{\A 213:     padding-top: 1em;"; }
