/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 43, ../sass/_init.scss */
strong, b {
  font-weight: bold;
}

/* line 24, ../sass/styles.scss */
html {
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 31, ../sass/styles.scss */
body {
  font-family: sans-serif;
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.2;
  background-color: #f5f5f5;
}
/* line 38, ../sass/styles.scss */
body ul {
  list-style-type: disc;
  margin-left: 1em;
}
/* line 41, ../sass/styles.scss */
body ul li {
  margin-bottom: 0.5em;
}

/* line 47, ../sass/styles.scss */
#s-lg-guide-main {
  padding-top: 0px;
}

@media all and (max-width: 750px) {
  /* line 51, ../sass/styles.scss */
  #s-lg-guide-main, #lg-guide-header {
    padding: 1em;
  }
}
/* line 56, ../sass/styles.scss */
.navbar-fixed-bottom, .navbar-fixed-top {
  position: relative;
}

/* line 59, ../sass/styles.scss */
#tufts_header {
  background-color: #3172AE;
  color: white;
  margin: -1em -1em 0 -1em;
  padding: 2em 2em 0.25em 3.2em;
}
/* line 66, ../sass/styles.scss */
#tufts_header h1 {
  font-size: 30px;
  margin-bottom: 1em;
  text-shadow: 0px 0px 1px black;
}

/* line 72, ../sass/styles.scss */
#tufts_header {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF293E6B', endColorstr='#FF3172AE');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxNzJhZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5M2U2YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(180deg, #3172ae, #293e6b);
  background-image: -webkit-linear-gradient(180deg, #3172ae, #293e6b);
  background-image: linear-gradient(-90deg, #3172ae, #293e6b);
}

/* line 76, ../sass/styles.scss */
#tufts_header a {
  font-family: sans-serif;
  color: white;
}

/* line 81, ../sass/styles.scss */
#tufts_links ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 84, ../sass/styles.scss */
#tufts_links ul li {
  display: inline;
  list-style-type: none !important;
  text-decoration: none !important;
  padding-right: 0em;
}
/* line 90, ../sass/styles.scss */
#tufts_links ul li:after {
  content: ' | ';
}
/* line 93, ../sass/styles.scss */
#tufts_links ul li:first-of-type {
  padding-left: 0.5em;
}
/* line 96, ../sass/styles.scss */
#tufts_links ul li:last-of-type:after {
  content: '';
}

/* line 101, ../sass/styles.scss */
p {
  padding: 0.5em 0.25em;
}

/* line 104, ../sass/styles.scss */
h2.s-lib-box-title {
  font-size: 18px !important;
}

/* line 109, ../sass/styles.scss */
#s-lg-guide-search-box form {
  background: transparent;
}

/************
* TABS
**************/
/* line 117, ../sass/styles.scss */
#s-lg-tabs-container .nav-stacked a {
  color: white;
}
/* line 121, ../sass/styles.scss */
#s-lg-tabs-container .nav-tabs, #s-lg-tabs-container .nav-pills {
  margin-left: 0;
}
/* line 124, ../sass/styles.scss */
#s-lg-tabs-container .nav-tabs a, #s-lg-tabs-container .nav-pills a {
  text-shadow: 0px 0px 1px black;
}
/* line 127, ../sass/styles.scss */
#s-lg-tabs-container .nav-tabs .active a, #s-lg-tabs-container .nav-pills .active a {
  text-shadow: 0px 0px 1px black;
}
/* line 131, ../sass/styles.scss */
#s-lg-tabs-container .nav-tabs a:hover, #s-lg-tabs-container .nav-pills a:hover {
  color: orange;
  text-shadow: 0px 0px 1px black;
}

/* line 139, ../sass/styles.scss */
.s-lg-subtab-ul a, .s-lg-subtab-ul > a {
  text-shadow: none !important;
}
/* line 142, ../sass/styles.scss */
.s-lg-subtab-ul a:hover {
  color: black !important;
  font-weight: bold;
}

/************
* TABLES
************/
/* line 151, ../sass/styles.scss */
table {
  border: thin solid #CFB76D;
  background: #FFFFFF;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
/* line 157, ../sass/styles.scss */
table th {
  font-weight: bold;
  background: #E8DCB9;
  text-align: center;
  vertical-align: bottom;
  padding: 2px;
}
/* line 165, ../sass/styles.scss */
table td {
  background: #FFFFFF;
  vertical-align: middle;
  padding: 4px;
  border-top: 1px solid #E8DCB9;
  font-size: small;
  font-weight: normal;
  border-right: 1px dotted #E8DCB9;
}
/* line 174, ../sass/styles.scss */
table .rowhead {
  font-weight: bold;
  background: #F8F4E9;
  text-align: left;
  padding-left: 4px;
  font-size: small;
}
/* line 182, ../sass/styles.scss */
table tr.alt {
  background-color: #c4e0f5;
}
/* line 187, ../sass/styles.scss */
table .beige td {
  text-align: center;
}
/* line 191, ../sass/styles.scss */
table .beigeLeft {
  text-align: left;
}
/* line 193, ../sass/styles.scss */
table .beigeLeft tr.altRow td {
  background-color: #e3ecf6;
}
/* line 196, ../sass/styles.scss */
table .beigeLeft td {
  text-align: left;
}

/****
* FORMS
******/
/* line 204, ../sass/styles.scss */
form {
  background-color: #eee;
  padding: 0.25em 0.5em 1em 0.5em;
}

/* line 210, ../sass/styles.scss */
#s-lg-guide-search-box form {
  background: transparent;
}

/* line 215, ../sass/styles.scss */
#tufts_search fieldset {
  position: relative;
}
/* line 218, ../sass/styles.scss */
#tufts_search input[type="text"] {
  width: 99%;
  height: 2em;
  z-index: -1;
}
/* line 223, ../sass/styles.scss */
#tufts_search input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1.2em;
  height: 2em;
  z-index: 5;
  color: white;
  background-color: #3172AE;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 236, ../sass/styles.scss */
#tufts_search .more {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1.2em;
  font-size: 11px;
}

@-moz-document url-prefix() {
  /* line 247, ../sass/styles.scss */
  #tufts_search input[type="submit"] {
    margin-top: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
/* line 256, ../sass/styles.scss */
#tufts_footer {
  padding: 2em;
}
