/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/styles.scss */
body {
  font-family: sans-serif;
  line-height: 1.2;
}

/* line 29, ../sass/styles.scss */
#s-lg-guide-main {
  padding-top: 0px;
}

/* line 33, ../sass/styles.scss */
#tufts_header {
  background-color: #3172AE;
  color: white;
  margin: -1em -1em 0 -1em;
  padding: 2em 2em 0.25em 3.2em;
}
/* line 38, ../sass/styles.scss */
#tufts_header h1 {
  font-size: 30px;
  margin-bottom: 1em;
  text-shadow: 0px 0px 1px #aaa;
}

/* line 44, ../sass/styles.scss */
#tufts_header {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF3172AE', endColorstr='#FF6699CC');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OTljYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxNzJhZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(180deg, #6699cc, #3172ae);
  background-image: -webkit-linear-gradient(180deg, #6699cc, #3172ae);
  background-image: linear-gradient(-90deg, #6699cc, #3172ae);
}

/* line 48, ../sass/styles.scss */
#tufts_header a {
  font-family: sans-serif;
  color: white;
}

/* line 53, ../sass/styles.scss */
#tufts_links ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 56, ../sass/styles.scss */
#tufts_links ul li {
  display: inline;
  list-style-type: none !important;
  text-decoration: none !important;
  padding-right: 0em;
}
/* line 62, ../sass/styles.scss */
#tufts_links ul li:after {
  content: ' | ';
}
/* line 65, ../sass/styles.scss */
#tufts_links ul li:first-of-type {
  padding-left: 0.5em;
}
/* line 68, ../sass/styles.scss */
#tufts_links ul li:last-of-type:after {
  content: '';
}

/* line 73, ../sass/styles.scss */
p {
  padding: 0.5em 0.25em;
}

/************
* TABLES
************/
/* line 79, ../sass/styles.scss */
table {
  border: thin solid #CFB76D;
  background: #FFFFFF;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
/* line 85, ../sass/styles.scss */
table th {
  font-weight: bold;
  background: #E8DCB9;
  text-align: center;
  vertical-align: bottom;
  padding: 2px;
}
/* line 93, ../sass/styles.scss */
table td {
  background: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  border-top: 1px solid #E8DCB9;
  font-size: small;
  font-weight: normal;
  border-right: 1px dotted #E8DCB9;
}
/* line 103, ../sass/styles.scss */
table .rowhead {
  font-weight: bold;
  background: #F8F4E9;
  text-align: left;
  padding-left: 4px;
  font-size: small;
}
/* line 111, ../sass/styles.scss */
table tr.alt {
  background-color: #c4e0f5;
}
/* line 114, ../sass/styles.scss */
table .beigeLeft {
  text-align: left;
}
/* line 116, ../sass/styles.scss */
table .beigeLeft tr.altRow td {
  background-color: #e3ecf6;
}
