@import url("//use.typekit.net/lvm2bzl.css");
//from lts web component:

#s-lg-guide-main, #s-lg-tabs-container, #s-lg-side-nav-content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
lts-footer{
  width: 100vw;
  margin-left: -2%;
}
body{
  font-size: 18px;
  //font-family: "proxima-nova", sans-serif;
  font-family: "proxima-nova";
}
.container{
  
    width: 90vw;
  
  
}
.s-lg-index-nav-btn{
 
  button.btn{
     border-radius: 0;
     padding: 0.5em 1em;
  }
}
.s-lib-box{
  border-color: #fff !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.s-lib-box-std .s-lib-box-title{
  background-image: none;
  font-size: 1.6em;
  color: black;
}
.s-lib-box-title{
  border-bottom: none !important;
  font-size: 2em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
 background-color: #293e6b;
 color: white;
 border-radius: 0;
}
.nav-tabs>li>a, .nav-pills>li>a{
  color: #293e6b;
  font-weight: bold;
  border-radius: 0;
}
.nav-tabs{
  border-bottom: none;
}
.rg-header-wrap{
  background-color: #3172AE;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  .rg-header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;

 
  }
  &.hirsh{
    background-color: #293e6b;
    width: 100vw;
  }
}
#hirsh_header{
  max-width: 1400px;

  background: #293e6b;
	padding: 0.5em 0;	
	color: #fff;
  margin-right: auto;
  margin-left: auto;
  svg{
    height: 2.25em;
    margin-top: 0.25em;
    margin-left: 0.25em;
  }

  .rg-header-title{
    color: white;
    font-size: 2em;
    font-weight: 500;
    display: block;
    float: right;
    clear: none;
    line-height: 1;
  }
}

#s-lg-guide-header, #s-lib-public-header{
  margin: 2em auto;
  max-width: 1400px;
  position: relative;
  h1{
    font-size: 38px;
  }
  #s-lg-guide-header-search{
    @media all and (min-width: 1200px){
      margin-top: -2.5em;
    }
    
  }
  #s-lg-guide-header-search{
   
    #s-lg-guide-search-box{
      width: 100%;
      margin-left: 0 !important;
      @media all and (min-width: 1200px){
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40%;
      }  
        font: 18px;
        .input-group-sm>.form-control, 
        .input-group-btn:last-child>.btn{
          height: 3em;
          font-size: 18px;
        }
        .input-group-btn:last-child>.btn{
          background-color:  #293e6b !important;
          color: white;
        }  
    }
  }
}


#s-lib-bc .breadcrumb{
 
  font-size: 14px !important;
  a{
     color: #293e6b !important;
  }
  @media all and (min-width: 1000px){
    max-width: 50%;
  }
}
//DOESNT WORK
#s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-drop{
  display: none;
}
//end doesnt work 
#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-tabs > li > a.s-lg-tab-top-link, #s-lg-tabs-container .nav-tabs > .active > a{
  border-radius: 0;
  margin: 2px;
  padding: 4px 15px;
}


.list-group-item{
  border: none;
}
.s-lg-tabs-side .s-lg-boxnav .list-group-item{
  background-color: transparent;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: #293e6b;
}
.nav>li>a:hover, .nav>li>a:focus{
   background-color: #293e6b;
}

#s-lib-admin-main .dataTables_paginate>ul.pagination>li.paginate_button:not(.disabled):not(.active)>a, #s-lib-public-main .dataTables_paginate>ul.pagination>li.paginate_button:not(.disabled):not(.active)>a, .s-lg-link-contrast, .ui-widget-content a, a{
  color: #293e6b;
  font-weight: 600;
}
#s-lg-az-nav, #s-lg-er-nav, #s-lg-hp-nav, #s-lg-profile-nav, #s-lg-srch-nav, #s-lg-hp-nav-bottom{
  background: transparent;
}
.nav-pills>li.active>button, .nav-pills>li.active>button:focus, .nav-pills>li.active>button:hover{
  background-color: #293e6b;
}
.s-lg-public-search-field{
  .input-group{
    width: 100%;
    margin-right: -5em;
    input{
    font-size: 18px;
    height: 100%;
  }
  button{
    background-color: #293e6b;
    color: white;
  }
  }
  
  
}
.nav .s-lg-index-nav-btn>button{
  color: #293e6b;
  font-size: 18px;
  border: none !important;
}
#s-lg-index-list-guides{
  #col-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    .s-lib-box{
      background-color: #f5f5f5;
      border-color: #ddd;
      .fa-info-circle{
        display: none;
      }
    }
    .s-lg-gmeta{
      display: none;
    }
  }
}  
//hiding input to display guides in a certain order
//might want it on other pages
#form-group-s-lg-guide-order{
  display: none;
}
.btn-info, .btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover{
  background-color: #293e6b;
}
.btn{
  font-size: 18px;
}
.s-lib-public-side-header h2{
  border: none;
  font-size: 1.25em;
}
h3{
  font-size: 1.15em;
  font-weight: bold;
}
////end test 2025 update

//requested by CK/R&I
#az-search-col-1{
    #s-lg-sel-az-types, #s-lg-sel-az-vendors{
        display: none !important;
    }
}
#s-lg-az-cols{
    #s-lg-az-popular-div, #s-lg-az-trials-div{
        display: none !important;
      }
}
//Imported from Libguides UI
ul.list-group.s-lg-boxnav li.list-group-item a{
  color: black !important;
  text-shadow: none !important;
}
    
#s-lg-tabs-container .nav-tabs > li > a:hover, #s-lg-tabs-container .nav-pills > li > a:hover{
  color: white !important;
}
.primo input[type="text"] {
  width: 99%;
  height: 2em;
  z-index: -1;
}
    
.multi input[type="text"] {
  width: 80%;
}
    
.offscreen{
  position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.primo fieldset{
  position: relative;
}
.primo input[type="button"] {
  position: absolute;
  right: 0;
  height: 2em;
  z-index: 5;
  color: white;
  background-color: #3172AE;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  border-radius: 0;
}
.wc input[type="button"] {
  bottom: 0;
}
    
.nav-tabs>li>a[href="#s-lg-sb-databases"], .nav-tabs>li>a[href="#s-lg-sb-blog-posts"]{ 
  display: none;
}
    
.s-lg-box-wrapper-29071722 a.btn.btn-default, .s-lg-box-wrapper-29071722 a.btn.btn-success {
  border: 2px solid #293e6b;
}
.s-lg-box-wrapper-29071722 a.btn.btn-default:hover, .s-lg-box-wrapper-29071722 a.btn.btn-success:hover{
  background-color: #293e6b !important;
}
.s-lg-box-wrapper-29071722 a.btn.btn-default:focus, .s-lg-box-wrapper-29071722 a.btn.btn-success:focus{
  background-color: #293e6b !important;
}
.vhide{
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.rg-home{
  display: block;
  font-size: 2em;
  text-shadow: 0 0 1px #000;
  font-weight: 700;
  margin-bottom: 0;
}
    