
// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/lists";
//KB added this to work with lists.
@import "compass/css3";
@import "init";


//Variables shared
  $tufts-classic: #6699CC;
  $tufts-info-blue: #3172AE;
  $form-gray: #eee;
  $background-gray: #f5f5f5;
  $lauries-mustard: #faf3c8;
  $light-orange: #ffdb99;
  $hirsh-blue: #293E6B;

  $default-text-shadow-color: black;