
// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";


// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/lists";
@import "compass/typography/vertical_rhythm";
//KB added this to work with lists.
@import "compass/css3";
@import "init";


//Variables shared
  $tufts-classic: #6699CC;
  $tufts-info-blue: #3172AE;
  $form-gray: #eee;
  $background-gray: #f5f5f5;
  $lauries-mustard: #faf3c8;
  $light-orange: #ffdb99;
  $hirsh-blue: #293E6B;

  $default-text-shadow-color: black;

//
// Font faces, stacks and sizes.
//
$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;  

strong, b{
	font-weight: bold;
}