
// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================



//Variables shared
  $tufts-classic: #6699CC;
  $tufts-info-blue: #3172AE;
  $form-gray: #eee;
  $background-gray: #f5f5f5;
  $lauries-mustard: #faf3c8;
  $light-orange: #ffdb99;
  $hirsh-blue: #293E6B;

  $default-text-shadow-color: black;

//
// Font faces, stacks and sizes.
//
$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.5    * $base-font-size;
$h2-font-size: 1.25  * $base-font-size;
$h3-font-size: 1 * $base-font-size;
$h4-font-size: 0.85    * $base-font-size;
$h5-font-size: 0.75 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;  

strong, b{
	font-weight: bold;
}