/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/lists";
//KB added this to work with lists.
@import "compass/css3";
@import "init";

body{
	font-family: sans-serif;
	line-height: 1.2;
  background-color: (lighten($lauries_mustard, 10% ));
}
//header
#s-lg-guide-main {
  padding-top: 0px;
}

#tufts_header{
  background-color: #3172AE;
  color: white;
  margin: -1em -1em 0 -1em;
  padding: 2em 2em 0.25em 3.2em;
  h1{
    font-size: 30px;
    margin-bottom: 1em;
    @include single-text-shadow;
  }
}
#tufts_header{
  @include filter-gradient($tufts-info-blue, $tufts-classic, 'horizontal');
  @include background-image(linear-gradient(-90deg, $tufts-classic, $tufts-info-blue)); 
}
#tufts_header a{
font-family: sans-serif;
color: white;
}
#tufts_links{
  ul{
    margin-left:0;
    padding-left: 0;
    li{
       display: inline;
       list-style-type: none !important;
       text-decoration: none !important;
       padding-right: 0em;
    }
    li:after{
      content: ' | ';
    }
    li:first-of-type{
      padding-left: 0.5em;
    }
    li:last-of-type:after{
      content:'';
    }
  }
}
p{
 padding: 0.5em 0.25em;	
}
/************
* TABLES
************/
table{ 
    border: thin solid #CFB76D; 
    background: #FFFFFF;
    text-align: center;
    vertical-align: top;
    width: 100%;
  th { 
    //font-size: 105%;
    font-weight: bold;
    background: #E8DCB9;
    text-align: center;
    vertical-align: bottom;
    padding: 2px;
  }   
  td {
    background: #FFFFFF;
    vertical-align: middle;
    padding: 4px;
    border-top: 1px solid #E8DCB9;
    font-size: small;
    font-weight: normal;
    border-right: 1px dotted #E8DCB9; 
  }
  .rowhead {
    font-weight: bold;
    background: #F8F4E9;
    text-align: left;
    padding-left: 4px;
    font-size: small;
  }

  tr.alt {
    background-color: #c4e0f5;
  }
  //TODO - change css with LG from beige/beigeLeft to center/left - text-align the only difference
  .beige{
    td{
      text-align:center;
    }
  }
  .beigeLeft { 
    text-align: left;
    tr.altRow td {
      background-color: #e3ecf6;
    }
    td{
      text-align: left;
    }
  }
}
/****
* FORMS
******/
form{
  background-color: $form-gray;
  padding: 0.25em 0.5em 1em 0.5em;
}