/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";


// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/lists";
@import "compass/typography/vertical_rhythm";
//KB added this to work with lists.
@import "compass/css3";

@import "init";
@import "mixins";



html{
  font-size: 100% * ($base-font-size / 16px); /* 3 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  // Establish a vertical rhythm unit using $base-line-height.
}
@include headings{
  font-weight: bold;
}
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: $h1-font-size;

  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
 
}
h2 {
  font-size: $h2-font-size;

}
h3 {
 font-size: $h3-font-size;

}
h4 {
 font-size:  $h4-font-size;
 
}
h5 {
font-size:  $h5-font-size;
  
}
h6 {
 font-size:  $h6-font-size;

}


body{
  padding-left: 1em;
  padding-right: 1em;
  @media all and (min-width: 750px){
    padding: 0;
  }
	font-family: sans-serif;
  font-size: 100% * ($base-font-size / 16px); /* 3 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	line-height: 1.2;
  background-color: $background-gray;
  ul{
    list-style-type: disc;
    margin-left: 1em;
    li{
      margin-bottom: 0.5em;
    }
  }
}
//header
#s-lg-guide-main {
  padding-top: 0px;
}
@media all and (max-width: 750px){
  #s-lg-guide-main, #lg-guide-header{
    padding: 1em;
  }
}
//fix - on admin screens, if admin toolbar fixed position, overlaps w/ first bit of page content
.navbar-fixed-bottom, .navbar-fixed-top{
  position: relative;
}
#tufts_header{
  background-color: $tufts-info-blue;
  color: white;

    margin: -1em -1em 0 -1em;
    padding: 2em 2em 0.25em 3.2em;

  h1{
    font-size: 30px;
    margin-bottom: 1em;
    @include single-text-shadow;
  }
}
#tufts_header{
  @include filter-gradient($hirsh-blue, $tufts-info-blue, 'horizontal');
  @include background-image(linear-gradient(-90deg, $tufts-info-blue, $hirsh-blue)); 
}
#tufts_header a{
font-family: sans-serif;
color: white;
}
#tufts_links{
  ul{
    margin-left:0;
    padding-left: 0;
    li{
       display: inline;
       list-style-type: none !important;
       text-decoration: none !important;
       padding-right: 0em;
    }
    li:after{
      content: ' | ';
    }
    li:first-of-type{
      padding-left: 0.5em;
    }
    li:last-of-type:after{
      content:'';
    }
  }
}
p{
 padding: 0.5em 0.25em;	
}
h2.s-lib-box-title{
  //border-bottom: none !important;
  font-size: 18px !important;
}  
#s-lg-guide-search-box{
  form{
    background: transparent;
  }
}
/************
* TABS
**************/
#s-lg-tabs-container{
  .nav-stacked a{
    color: white;
  }

  .nav-tabs, .nav-pills{
  
    margin-left: 0;
    a{
     @include single-text-shadow;
    }
    .active a{
     @include single-text-shadow;
    }

    a:hover{
      //this didn't work anyway: color: orange;
      @include single-text-shadow;
    }
  }
}

.s-lg-subtab-ul{
  a, > a {
    text-shadow: none !important;
  }
  a:hover{
    color: black !important;
    font-weight: bold;
  }
}

#s-lg-guide-tabs .s-lg-tabs-side .s-lg-boxnav .list-group-item a:link{
  color: black;
  text-shadow: none;

}
#s-lg-guide-tabs .s-lg-tabs-side .s-lg-boxnav .list-group-item a:visited{
  color: black;
}
//FOR SIDE NAVIGATION

#s-lg-guide-tabs{
  .s-lg-tabs-side{
    //for sub-tabs that are one-level up, keep the text white
    .s-lg-subtab-ul {
      a, > a {
      text-shadow: none !important;
      color: white !important;
      }
      a:hover{
       color: white !important;
      }
    }
    //make sure that the dropdowns with a white background have black text
    .dropdown{
      .s-lg-subtab-ul{
        a{
          color: black !important;
        }
        a:hover{
          color: black !important;
        }
      }
    }  

  }
}

/***
* MISC 
****/
.label-info, .btn-info{
 color: black;
 a{
   color: black;
  }
 a:hover{
  @include single-text-shadow;
 }
}

//make sure links wrap
.s-lib-box-content{
word-wrap:break-word;
}
//space around front page button
 .s-lg-hp-btn-section{
   margin-top: 0.25em
 }

 //social media buttons
.fa-flickr, .fa-twitter, .fa-facebook, .fa-bookmark{
 color: $tisch-heading-orange;
}
//Put spacing underneath "strong" "headings" in contact box
div[id*="s-lib-profile-email-"]  .label-info{
background-color: #E3E3E3;
box-shadow: inset 0 0 1px 1px #EAEAEA;
border: 1px solid #BBB;
}
.label-info[href]:focus, .label-info[href]:hover{
background-color: #D3D3D3;
color: black;
}
a.label-info {
font-size: 12px !important;
padding: 0.75em 4.75em;

}
.s-lib-profile-div{
  div{
    //padding-top: 1em;
  }
}
.s-lib-profile-subjects{
  a:first-of-type{
    padding-top: 1em;
  }
}
//PROFILE
//make profile images on non-profile pages the same size
.s-lib-featured-profile-image{
 height: 160px;
width: 160px;

}
/************
* TABLES
************/
table{ 
    border: thin solid #000;
    border-top: thin solid #000 !important;
    background: #FFFFFF;
    vertical-align: top;
    width: 100%;
  th { 
    //font-size: 105%;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    padding: 2px;
  }   
  td {
    background: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    border-top: 1px solid #000;
    font-size: small;
    font-weight: normal;
  }
  .rowhead {
    font-weight: bold;
    text-align: left;
    padding-left: 4px;
    font-size: small;
  }

  tr.alt {
    background-color: #c4e0f5;
  }
  //TODO - change css with LG from beige/beigeLeft to center/left - text-align the only difference
  .beige{
    td{
      text-align:center;
    }
  }
  .beigeLeft { 
    text-align: left;
    tr.altRow td {
      background-color: #e3ecf6;
    }
    td{
      text-align: left;
    }
  }
}
/****
* FORMS
******/
form{
  background-color: $form-gray;
  padding: 0.25em 0.5em 1em 0.5em;
}
//exception for search box
#s-lg-guide-search-box{
  form{
    background: transparent;
  }
}
#tufts_search{
  fieldset{
    position: relative;
  }
  input[type="text"]{
    width:99%;
    height: 2em;
    z-index:-1;
  }
  input[type="submit"]{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2.5em;
    height: 2em;
    z-index:5;
    color: white;
    background-color:#3172AE;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .more{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1.2em;
    font-size: 11px;
  }
}
legend{
font-size: inherit;
}

//fix alternate padding in firefox
@-moz-document url-prefix() { 
  #tufts_search{
    input[type="submit"] {
      margin-top: 0;
     -webkit-border-radius:0px;
     -moz-border-radius: 0;
     border-radius: 0;
    }
  }
}
//DON'T SHOW FIND BY TYPE BUTTON
#s-lg-index-guidetype-btn{
  display:none;
}
//FOOTER
#tufts_footer{
padding: 2em;
}

//HOME PAGE
//special contact info section

#tufts_contact{
 margin-top: -2em;
 background-color: white;
 box-shadow: 1px 1px 1px gray;
 padding: 0.25em 0 2em 1em;
 border-radius: 4px;
 border: 1px solid #5BC0DE;
  ul{
    list-style:none;
    margin-left: 0;
    padding-left:0;
    line-height: 2em;
    @media all and (min-width: 700px){
      line-height:1.2em;
    }
  }
}
///
//EDIT PAGES only
///

//for top nav pages: use #s-lg-guide-main:nth-of-type(4)
//for side nav pages, use #s-lg-tabs-container:nth-of-type(3)

//make sure the submit button has an appropriate margin-top
#s-lg-guide-main:nth-of-type(4), #s-lg-tabs-container:nth-of-type(3) {
  #tufts_search{
    input[type="submit"]{
      margin-top: 1.57em;
    }
  }
}